.navbar-container {
  @apply 
  flex 
  m-4 
  justify-between md:justify-around 
  items-center;
}

.navbar-toggler {
  @apply md:hidden;

  & > div {
    @apply 
    w-8 h-0.5 
    m-2 
    bg-gray-800 
    transform rotate-0 translate-y-0 
    transition;
  }
}
.navbar-toggler.toggled {
  & .line1 {
    @apply 
    transform -rotate-45 translate-y-2.5 
    transition-transform;
  }
  & .line2 {
    @apply 
    transform opacity-0 
    transition-opacity;
  }
  & .line3 {
    @apply 
    transform rotate-45 -translate-y-2.5 
    transition-transform;
  }
}

.navbar-nav {
  @apply 
  invisible md:visible 
  flex flex-col md:flex-row 
  absolute left-0 top-24 md:static 
  w-full md:w-auto 
  md:m-0 
  px-4 md:p-0 
  items-start md:items-center 
  md:justify-around 
  bg-white;
}
.navbar-nav.active {
  @apply visible;
}

.nav-item-container {
  @apply 
  list-none 
  w-full md:w-auto 
  border-b-2 border-gray-200 last:border-none md:border-none;

  &:hover {
    .nav-link, .nav-chevron-down {
      @apply text-primary;
    }
  }
}
.nav-item-container.dropdown-menu {
  @apply md:border-b-4 md:border-white md:hover:border-primary;
}

.nav-item {
  @apply py-4 md:py-2 px-6;

  .nav-link {
    @apply text-gray-800 text-lg font-normal no-underline tracking-wide;
  }

  .nav-chevron-down {
    @apply 
    w-6 h-6 
    float-right 
    mr-4 md:mr-0 md:ml-2 
    md:relative md:top-1 
    md:text-center;
  }
}

.nav-dropdown {
  @apply 
  visible 
  static md:absolute md:top-24 
  bg-white 
  mb-4 md:mb-0 md:-mt-6
  px-4 md:px-0 md:py-4 
  md:shadow-sm;

  & > li {
    @apply 
    py-2 pl-6 md:py-4 px-10 
    no-underline 
    md:hover:bg-gray-100 
    transition-colors;

    .nav-dropdown-item {
      @apply text-gray-800 text-base md:text-lg font-light;
    }
  }
}
.nav-dropdown.collapsed {
  @apply hidden;
}