.jumbotron-bg {
  @apply 
  h-screen 
  bg-black bg-opacity-30;
}

.jumbotron-inner {
  @apply h-screen grid place-content-center justify-items-center;
}

.jumbotron-title {
  @apply 
  mt-10
  text-6xl sm:text-8xl text-white font-medium
  flex flex-col lg:block items-center
  tracking-widest;

  & > span {
    @apply 
		block lg:inline-block 
		text-shadow-lg
		leading-tight sm:leading-none;
  }
}

.jumbotron-subtitle {
  @apply 
  mt-10 mb-7
  text-5xl sm:text-7xl text-white font-extralight 
  justify-center
  tracking-wider text-shadow-lg 
  leading-tight sm:leading-none;
}

.jumbotron-btn-container {
  @apply w-full grid place-items-center;
}

.jumbotron-btn {
  @apply 
  bg-transparent hover:bg-white
  m-7 px-5 py-3 
  border-2 border-white 
  text-xl sm:text-2xl font-light
  text-white hover:text-gray-800; 
}

.jumbotron-chevron-container {
  @extend .jumbotron-btn-container;
  @apply absolute bottom-8;
}

.jumbotron-chevron-down {
  @apply w-14 h-14 text-white invisible;
}
.jumbotron-chevron-down.active {
  @apply visible;
  animation: scrolldown 2s infinite;
}
@keyframes scrolldown {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(0);
  }
}